* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Arimo", sans-serif;
}

.container {
  height: 100%;
  width: 1410px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
}

.flex {
  display: flex;
}

#header_top {
  height: 52px;
  background-color: #0088CC;
}
#header_top ul {
  list-style: none;
}
#header_top ul li {
  display: inline-block;
}
#header_top ul li a {
  text-decoration: none;
}
#header_top ul li {
  font-size: 12px;
  line-height: 52px;
}
#header_top ul li:first-child {
  color: white;
  opacity: 0.8;
}
#header_top ul li a {
  color: white;
  font-size: 11px;
  margin: 10px;
  text-transform: uppercase;
}
#header_top ul li a:hover {
  color: #cbd3da;
}

#header_bot {
  height: 122px;
  border: 1px solid #EEEEEE;
}
#header_bot #header_logo {
  height: 48px;
  width: 100px;
  background-image: url("../img/logo.png");
  background-repeat: no-repeat;
  background-size: cover;
}

nav {
  height: 61px;
}
nav ul {
  position: relative;
  list-style: none;
}
nav ul li:last-child {
  position: absolute;
  right: 20px;
}
nav ul li {
  display: inline-block;
}
nav ul li a {
  text-decoration: none;
}
nav ul li {
  font-size: 16px;
  font-weight: 900;
  line-height: 61px;
}
nav ul li a {
  color: #444444;
  margin: 20px;
  text-transform: uppercase;
}
nav ul li a:hover {
  color: #0088CC;
}
nav ul li:last-child:hover {
  cursor: pointer;
}

#main_top {
  height: 634px;
  background-color: #F7F7F7;
  padding: 45px;
}
#main_top .flex {
  flex-wrap: wrap;
}
#main_top .flex .main_top_img {
  height: 250px;
  width: 440px;
  margin: 10px;
  background-size: cover;
}
#main_top .flex .main_top_img .layover {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: relative;
}
#main_top .flex .main_top_img .layover:hover {
  background-color: rgba(0, 0, 0, 0.7);
}
#main_top .flex .main_top_img .layover .content {
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 20px;
  color: white;
}
#main_top .flex .main_top_img .layover h4 {
  display: inline-block;
  background-color: #0088CC;
  padding: 5px 10px;
  border-radius: 3px;
  margin-bottom: 5px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 900;
}
#main_top .flex .main_top_img .layover h2 {
  text-transform: capitalize;
  font-size: 18px;
  font-weight: 900;
}
#main_top .flex .main_top_img .layover .hidden_text {
  display: none;
}
#main_top .flex .main_top_img .layover:hover .hidden_text {
  display: block;
}
#main_top .flex .main_top_img .layover .hidden_text {
  color: #B7B7B7;
  font-size: 12px;
}

#container_1 {
  background-image: url("../img/photo1.jpg");
}

#container_2 {
  background-image: url("../img/photo2.jpg");
}

#container_3 {
  background-image: url("../img/photo3.jpg");
}

#container_4 {
  background-image: url("../img/photo4.jpg");
}

#container_5 {
  background-image: url("../img/photo5.jpg");
}

#container_6 {
  background-image: url("../img/photo6.jpg");
}

#main_bot {
  height: 538px;
  background-color: white;
}
#main_bot .main_bot_container {
  width: 440px;
  margin: 45px 15px;
}
#main_bot .main_bot_container h4 {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 900;
}
#main_bot .main_bot_container ul {
  list-style: none;
}
#main_bot .main_bot_container ul li {
  border-bottom: 1px dotted #E2E2E2;
  display: flex;
  align-items: center;
}
#main_bot .main_bot_container ul li:last-child {
  border-bottom: none;
}
#main_bot .main_bot_container ul li .main_bot_text {
  height: 50px;
  width: 50px;
  margin: 20px 20px 20px 0;
}
#main_bot .main_bot_container ul li h6 {
  color: #212529;
  font-size: 16px;
  font-weight: 400;
  text-transform: capitalize;
}
#main_bot .main_bot_container ul li span {
  color: #888888;
  font-size: 12px;
}

#main_bot_img_1 {
  background-image: url("../img/smallphoto1.jpg");
  background-size: cover;
}

#main_bot_img_2 {
  background-image: url("../img/smallphoto2.jpg");
  background-size: cover;
}

#main_bot_img_3 {
  background-image: url("../img/smallphoto3.jpg");
  background-size: cover;
}

#main_bot_img_4 {
  background-image: url("../img/smallphoto4.jpg");
  background-size: cover;
}

#main_bot_img_5 {
  background-image: url("../img/smallphoto5.jpg");
  background-size: cover;
}

#main_bot_img_6 {
  background-image: url("../img/smallphoto6.jpg");
  background-size: cover;
}

#main_bot_img_7 {
  background-image: url("../img/smallphoto7.jpg");
  background-size: cover;
}

#main_bot_img_8 {
  background-image: url("../img/smallphoto8.jpg");
  background-size: cover;
}

#main_bot_img_9 {
  background-image: url("../img/smallphoto9.jpg");
  background-size: cover;
}

#main_bot_img_10 {
  background-image: url("../img/smallphoto10.jpg");
  background-size: cover;
}

#main_bot_img {
  height: 187px;
  width: 100%;
  margin: 30px 0;
  background-image: url("../img/smallphoto.jpg");
  background-size: cover;
}
#main_bot_img .layover {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: relative;
}
#main_bot_img .layover .content {
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 20px;
  color: white;
}
#main_bot_img .layover h4 {
  display: inline-block;
  background-color: #0088CC;
  padding: 5px 10px;
  border-radius: 3px;
  margin-bottom: 5px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 900;
}
#main_bot_img .layover h2 {
  text-transform: capitalize;
  font-size: 18px;
  font-weight: 900;
}

.flex {
  align-items: center;
}
.flex #main_bot_small_img {
  height: 112px;
  width: 112px;
  margin-top: 20px;
  margin-right: 20px;
  background-image: url("../img/avatar.jpg");
  background-size: cover;
}
.flex .main_bot_small_text {
  width: calc(100% - 132px);
}
.flex .main_bot_small_text h3 {
  margin-bottom: 10px;
}
.flex .main_bot_small_text span {
  font-size: 14px;
}

#slider {
  height: 155px;
  padding: 50px 0;
  background-color: #0088CC;
}
#slider ul {
  list-style: none;
}
#slider ul li {
  display: inline-block;
}
#slider ul li a {
  text-decoration: none;
}
#slider ul li {
  height: 55px;
  width: 185px;
  margin: 0 16px;
  text-align: center;
  line-height: 55px;
  background-color: #212529;
}
#slider ul li a {
  color: white;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 900;
}
#slider ul li:hover {
  background-color: #212529CC;
  cursor: pointer;
}
#slider ul li:first-child, #slider ul li:last-child {
  background: none;
  width: 10px;
}
#slider ul li:first-child, #slider ul li:last-child:hover {
  background: none;
  cursor: pointer;
}

#main_container {
  width: 70%;
  margin-top: 60px;
  margin-right: 10px;
}
#main_container section {
  margin-bottom: 60px;
  border-bottom: 1px solid #EDEDED;
}
#main_container section .section_img {
  height: 437px;
}
#main_container section .flex {
  align-items: flex-start;
  margin-top: 30px;
}
#main_container section .flex .calendar {
  width: 60px;
  align-items: flex-start;
  text-align: center;
  padding-right: 20px;
}
#main_container section .flex .calendar #calendar_top {
  color: #212529;
  font-size: 15px;
  font-weight: bolder;
  background-color: #F7F7F7;
  padding: 20px 0;
}
#main_container section .flex .calendar #calendar_bot {
  color: #F7F7F7;
  background-color: #212529;
  font-size: 12px;
}
#main_container section .flex .section_text {
  width: calc(100% - 60px);
  margin-bottom: 30px;
}
#main_container section .flex .section_text h1 {
  margin-bottom: 20px;
}
#main_container section .flex .section_text p {
  color: #777777;
  line-height: 25px;
  text-align: justify;
  text-justify: auto;
  margin-bottom: 20px;
}
#main_container section .flex .section_text span i {
  margin-right: 10px;
}
#main_container section .flex .section_text span a {
  margin-left: 5px;
  text-decoration: none;
  color: #0088CC;
}
#main_container section .flex .section_text #section_text_button {
  float: right;
  text-decoration: none;
  color: #777777;
  border: 1px solid #D9D9D9;
  border-radius: 5px;
  padding: 5px;
  text-transform: uppercase;
  font-size: 12px;
}
#main_container section .flex .section_text #section_text_button:hover {
  background-color: #D6D6D6;
}
#main_container section #section_img_mix {
  height: 700px;
  flex-wrap: wrap;
}
#main_container section #section_img_mix .section_img_mix_all {
  height: calc(100% / 2);
  width: calc(100% / 3);
}

#section_img_1 {
  background-image: url("../img/bigphoto1.jpg");
  background-size: cover;
}

#section_img_2 {
  background-image: url("../img/bigphoto2.jpg");
  background-size: cover;
}

#section_img_3 {
  background-image: url("../img/bigphoto3.jpg");
  background-size: cover;
}

#section_img_4 {
  background-image: url("../img/bigphoto4.jpg");
  background-size: cover;
}

#section_img_mix_1 {
  background-image: url("../img/mixphoto1.jpg");
  background-size: cover;
}

#section_img_mix_2 {
  background-image: url("../img/mixphoto2.jpg");
  background-size: cover;
}

#section_img_mix_3 {
  background-image: url("../img/mixphoto3.jpg");
  background-size: cover;
}

#section_img_mix_4 {
  background-image: url("../img/mixphoto4.jpg");
  background-size: cover;
}

#section_img_mix_5 {
  background-image: url("../img/mixphoto5.jpg");
  background-size: cover;
}

#section_img_mix_6 {
  background-image: url("../img/mixphoto5.jpg");
  background-size: cover;
}

aside {
  width: 25%;
  margin-top: 60px;
  margin-left: 20px;
  align-self: flex-start;
}
aside h3 {
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 20px;
}
aside #twitter_box {
  margin: 20px 0;
}
aside #twitter_box .icon {
  align-self: flex-start;
  font-size: 18px;
  margin-right: 10px;
}
aside #twitter_box span {
  color: #888888;
  font-size: 16px;
}
aside #twitter_box p {
  color: #0088CC;
  margin: 10px 0 30px;
  font-size: 14px;
}
aside #aside_photo {
  height: 220px;
  width: 330px;
  margin-bottom: 30px;
  flex-wrap: wrap;
}
aside #aside_photo .aside_all_img {
  height: calc(100% / 2);
  width: calc(100% / 3);
}
aside #aside_category {
  justify-content: space-around;
}
aside #aside_category .aside_categories {
  text-transform: uppercase;
  background-color: black;
  border-radius: 10px;
  color: white;
  font-size: 12px;
  font-weight: 900;
  padding: 3px;
  margin-right: 5px;
  margin-bottom: 50px;
}
aside a {
  text-decoration: none;
  color: #0088CC;
  border-left: 5px solid #EEEEEE;
  padding: 10px;
}

#aside_img1 {
  background-image: url("../img/asidephoto1.jpg");
  background-size: cover;
}

#aside_img2 {
  background-image: url("../img/asidephoto2.jpg");
  background-size: cover;
}

#aside_img3 {
  background-image: url("../img/asidephoto3.jpg");
  background-size: cover;
}

#aside_img4 {
  background-image: url("../img/asidephoto4.jpg");
  background-size: cover;
}

#aside_img5 {
  background-image: url("../img/asidephoto5.jpg");
  background-size: cover;
}

#aside_img6 {
  background-image: url("../img/asidephoto6.jpg");
  background-size: cover;
}

.counter_container {
  width: 70%;
  margin-bottom: 50px;
  padding-bottom: 10px;
  position: relative;
}
.counter_container #counter {
  position: absolute;
  right: 0;
  bottom: 0;
}
.counter_container #counter .counter_botton {
  color: #0088CC;
  border: 1px solid #EEEEEE;
  padding: 10px;
}
.counter_container #counter .counter_botton:hover {
  background-color: #0088CC;
  color: white;
  cursor: pointer;
}

#footer_top {
  height: 360px;
  background-color: #212529;
  color: #777777;
}
#footer_top #footer_container {
  align-items: flex-start;
  padding-top: 50px;
}
#footer_top #footer_container h3 {
  text-transform: uppercase;
  color: white;
  font-size: 14px;
  margin-bottom: 20px;
}
#footer_top #footer_container #footer_top_left {
  width: 35%;
}
#footer_top #footer_container #footer_top_left p {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 25px;
}
#footer_top #footer_container #footer_top_left i {
  margin-left: 10px;
}
#footer_top #footer_container .footer_top_center_left, #footer_top #footer_container .footer_top_center_right {
  width: 25%;
}
#footer_top #footer_container .footer_top_center_left .footer_img, #footer_top #footer_container .footer_top_center_right .footer_img {
  height: 70px;
  width: 70px;
  border-radius: 50%;
}
#footer_top #footer_container .footer_top_center_left #footer_text, #footer_top #footer_container .footer_top_center_right #footer_text {
  width: calc(100% - 70px);
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 10px;
}
#footer_top #footer_container .footer_top_center_left #footer_text p, #footer_top #footer_container .footer_top_center_right #footer_text p {
  font-size: 12px;
  margin: 0 20px 10px;
  text-align: justify;
  text-justify: inter-word;
  line-height: 20px;
}
#footer_top #footer_container .footer_top_center_left #footer_text p:first-child, #footer_top #footer_container .footer_top_center_right #footer_text p:first-child {
  color: white;
}
#footer_top #footer_container .footer_top_center_right {
  margin-left: 10px;
}
#footer_top #footer_container .footer_top_center_right .flex {
  justify-content: center;
  align-items: flex-start;
}
#footer_top #footer_container .footer_top_center_right .flex i {
  color: #0088CC;
}
#footer_top #footer_container .footer_top_center_right .flex p {
  display: inline-block;
  font-size: 14px;
  margin-right: 20px;
  color: white;
}
#footer_top #footer_container .footer_top_center_right .flex span {
  color: #0088CC;
}
#footer_top #footer_container .footer_top_center_right .date {
  margin: 20px 10px;
  font-size: 12px;
}
#footer_top #footer_container #footer_top_right {
  width: 15%;
}
#footer_top #footer_container #footer_top_right .footer_category {
  flex-wrap: wrap;
}
#footer_top #footer_container #footer_top_right .footer_category .categories {
  color: white;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 900;
  background-color: black;
  border-radius: 5px;
  padding: 7px;
  margin: 5px 5px;
  line-height: 10px;
}

#footer_img_1 {
  background-image: url("../img/footerphoto1.jpg");
}

#footer_img_2 {
  background-image: url("../img/footerphoto2.jpg");
}

#footer_bot {
  height: 97px;
  color: #777777;
  font-size: 12px;
  background-color: #1C2023;
}
#footer_bot #footer_logo {
  height: 33px;
  width: 73px;
  margin-right: 30px;
  background-image: url("../img/footerlogo.png");
  background-size: cover;
}
#footer_bot ul {
  list-style: none;
  margin-left: auto;
}
#footer_bot ul li {
  display: inline-block;
}
#footer_bot ul li a {
  text-decoration: none;
}
#footer_bot ul a {
  color: #777777;
  margin-right: 10px;
  font-size: 12px;
}
#footer_bot ul a i {
  margin-right: 5px;
}
