#header_top {
  height: 52px;
  background-color: $header_top_color;
  ul {
    @include clearList;
    li {
      font-size: 12px;
      line-height: 52px;
      &:first-child {
        color: white;
        opacity: 0.8;
      }
      a {
        color: white;
        font-size: 11px;
        margin: 10px;
        text-transform: uppercase;
        &:hover {
          color: $header_top_color_hover;
        }
      }
    }
  }
}

#header_bot {
  height: 122px;
  border: 1px solid $header_bot_border_color;
  #header_logo {
    height: 48px;
    width: 100px;
    background-image: $logo;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
