#main_top {
  height: 634px;
  background-color: $main_top_color;
  padding: 45px;
  .flex {
    flex-wrap: wrap;
    .main_top_img {
      height: 250px;
      width: 440px;
      margin: 10px;
      background-size: cover;
      .layover {
        @include layover;
      }
    }
  }
}
#container_1 {
  background-image: $main_top_img_1;
}
#container_2 {
  background-image: $main_top_img_2;
}
#container_3 {
  background-image: $main_top_img_3;
}
#container_4 {
  background-image: $main_top_img_4;
}
#container_5 {
  background-image: $main_top_img_5;
}
#container_6 {
  background-image: $main_top_img_6;
}


#main_bot {
  height: 538px;
  background-color: $main_bot_color;
  .flex {
    .main_bot_container {
      width: 440px;
      margin: 45px 15px;
      h4 {
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 900;
      }
      ul {
        list-style: none;
        li {
          border-bottom: 1px dotted $main_bot_border_color;
          display: flex;
          align-items: center;
          &:last-child {
            border-bottom: none;
          }
          .main_bot_text {
            height: 50px;
            width: 50px;
            margin: 20px 20px 20px 0;
          }
          h6 {
            color: $main_bot_text_color;
            font-size: 16px;
            font-weight: 400;
            text-transform: capitalize;
          }
          span {
            color: $main_bot_text_color2;
            font-size: 12px;
          }
        }
      }
    }
  }
}

#main_bot_img_1 {
  background-image: $main_bot_img_1;
  background-size: cover;
}
#main_bot_img_2 {
  background-image: $main_bot_img_2;
  background-size: cover;
}
#main_bot_img_3 {
  background-image: $main_bot_img_3;
  background-size: cover;
}
#main_bot_img_4 {
  background-image: $main_bot_img_4;
  background-size: cover;
}
#main_bot_img_5 {
  background-image: $main_bot_img_5;
  background-size: cover;
}
#main_bot_img_6 {
  background-image: $main_bot_img_6;
  background-size: cover;
}
#main_bot_img_7 {
  background-image: $main_bot_img_7;
  background-size: cover;
}
#main_bot_img_8 {
  background-image: $main_bot_img_8;
  background-size: cover;
}
#main_bot_img_9 {
  background-image: $main_bot_img_9;
  background-size: cover;
}
#main_bot_img_10 {
  background-image: $main_bot_img_10;
  background-size: cover;
}
 // REFACTORING IMPORTANTE !!!!!!!!!!
#main_bot_img {
  height: 187px;
  width: 100%;
  margin: 30px 0;
  background-image: url("../img/smallphoto.jpg");
  background-size: cover;
  .layover {
    @include layover;
  }
}
.flex {
  align-items: center;
  #main_bot_small_img {
    height: 112px;
    width: 112px;
    margin-top: 20px;
    margin-right: 20px;
    background-image: url("../img/avatar.jpg");
    background-size: cover;
  }
  .main_bot_small_text {
    width: calc(100% - 132px);
    h3 {
      margin-bottom: 10px;
    }
    span {
      font-size: 14px;
    }
  }
}

#slider {
  height: 155px;
  padding: 50px 0;
  background-color: $slider_color;
  ul {
    @include clearList;
    li {
      height: 55px;
      width: 185px;
      margin: 0 16px;
      text-align: center;
      line-height: 55px;
      background-color: #212529;
      a{
        color: white;
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 900;
      }
    &:hover {
      background-color: #212529CC;
      cursor: pointer;
    }
    &:first-child, &:last-child {
      background: none;
      width: 10px;
    }
    &:first-child, &:last-child:hover {
      background: none;
      cursor: pointer;
    }
    }
  }
}

#main_container {
  width: 70%;
  margin-top: 70px;
  margin-right: 10px;
  .section_img {
    height: 437px;
  }
  .flex {
    align-items: flex-start;
    margin-top: 20px;
    .calendar {
      width: 100px;
      align-items: flex-start;
      text-align: center;
      padding: 0 20px;
      #calendar_top {
        color: black;
        background-color: grey;
        padding: 20px 0;
      }
      #calendar_bot {
        color: grey;
        background-color: black;
      }
    }
    .section_text {
      width: calc(100% - 100px);
      border-bottom: 5px solid black;
      margin-bottom: 70px;
      span {
        margin: 10px 0;
        &:last-child {
          float: right;
          border: 1px solid black;
          border-radius: 3px;
        }
      }
    }
  }
}




#section_img_1 {
  background-image: url("../img/bigphoto1.jpg");
  background-size: cover;
}

#prova {
  background-color: green;
  color: orange;
}

aside {
  width: 25%;
  margin-top: 70px;
  margin-left: 10px;
  background-color: pink;
  align-self: flex-start;
}
.counter_container {
  width: 70%;
  position: relative;
  #counter {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}
























// clear
