nav {
  height: 61px;
  ul {
    position: relative;
    li:last-child {
      position: absolute;
      right: 20px;
      }
    @include clearList;
    li {
      font-size: 16px;
      font-weight: 900;
      line-height: 61px;
      a {
        color: $nav_color;
        margin: 20px;
        text-transform: uppercase;
        &:hover {
          color: $header_top_color;
        }
      }
    }
  }
}
