// COMMON
$font: 'Arimo', sans-serif;

// IMG
$logo: url("../img/logo-default-slim.png");
$main_top_img_1: url("../img/photo1.jpg");
$main_top_img_2: url("../img/photo2.jpg");
$main_top_img_3: url("../img/photo3.jpg");
$main_top_img_4: url("../img/photo4.jpg");
$main_top_img_5: url("../img/photo5.jpg");
$main_top_img_6: url("../img/photo6.jpg");

// HEADER
$header_top_color: #0088CC;
$header_top_color_hover: #CCCCCC;
$header_bot_color: white;
$header_bot_border_color: #EEEEEE;

// NAV
$nav_color: #444444;

// MAIN
$main_top_color: #F7F7F7;
$main_bot_color: white;

$slider_color: #0088CC;

// FOOTER
$footer_top_color: #212529;
$footer_bot_color: #1C2023;
