// COMMON
$font: 'Arimo', sans-serif;

// IMG
$logo: url("../img/logo.png");
$main_top_img_1: url("../img/photo1.jpg");
$main_top_img_2: url("../img/photo2.jpg");
$main_top_img_3: url("../img/photo3.jpg");
$main_top_img_4: url("../img/photo4.jpg");
$main_top_img_5: url("../img/photo5.jpg");
$main_top_img_6: url("../img/photo6.jpg");

$main_bot_img_1: url("../img/smallphoto1.jpg");
$main_bot_img_2: url("../img/smallphoto2.jpg");
$main_bot_img_3: url("../img/smallphoto3.jpg");
$main_bot_img_4: url("../img/smallphoto4.jpg");
$main_bot_img_5: url("../img/smallphoto5.jpg");
$main_bot_img_6: url("../img/smallphoto6.jpg");
$main_bot_img_7: url("../img/smallphoto7.jpg");
$main_bot_img_8: url("../img/smallphoto8.jpg");
$main_bot_img_9: url("../img/smallphoto9.jpg");
$main_bot_img_10: url("../img/smallphoto10.jpg");

$main_bot_img: url("../img/smallphoto.jpg");
$main_bot_avatar: url("../img/avatar.jpg");

$section_img_1: url("../img/bigphoto1.jpg");
$section_img_2: url("../img/bigphoto2.jpg");
$section_img_3: url("../img/bigphoto3.jpg");
$section_img_4: url("../img/bigphoto4.jpg");

$section_img_mix_1: url("../img/mixphoto1.jpg");
$section_img_mix_2: url("../img/mixphoto2.jpg");
$section_img_mix_3: url("../img/mixphoto3.jpg");
$section_img_mix_4: url("../img/mixphoto4.jpg");
$section_img_mix_5: url("../img/mixphoto5.jpg");
$section_img_mix_6: url("../img/mixphoto6.jpg");

$aside_img_1: url("../img/asidephoto1.jpg");
$aside_img_2: url("../img/asidephoto2.jpg");
$aside_img_3: url("../img/asidephoto3.jpg");
$aside_img_4: url("../img/asidephoto4.jpg");
$aside_img_5: url("../img/asidephoto5.jpg");
$aside_img_6: url("../img/asidephoto6.jpg");

$footer_img_1: url("../img/footerphoto1.jpg");
$footer_img_2: url("../img/footerphoto2.jpg");
$footer_logo: url("../img/footerlogo.png");


// HEADER
$header_top_color: #0088CC;
$header_top_color_hover: #cbd3da;
$header_bot_border_color: #EEEEEE;

// NAV
$nav_color: #444444;

// MAIN
$main_top_color: #F7F7F7;
$main_bot_color: white;
$main_bot_border_color: #E2E2E2;
$main_bot_text_color: #212529;
$main_bot_text_color2: #888888;

$slider_color: #0088CC;
$slider_color_hover: #212529CC;

$calendar_top_color: #F7F7F7;
$calendar_top_text: #212529;

$section_text_color: #777777;
$section_text_border: #EDEDED;

// FOOTER
$footer_top_color: #212529;
$footer_bot_color: #1C2023;
$footer_top_text: #777777;
$footer_bot_color_blue: #0088CC;
